{{~field name="title"		order='2' auto-generate='title' labeli18n="crosswalks.dissemination.html.dc.title" label="{\"en\": \"Title\"}" xpath="//*:title/string()"}}
{{~field name="id" 			order='1' auto-generate='id' labeli18n="crosswalks.dissemination.html.dc.identifier" label="{\"en\": \"ID\"}" xpath="//*:identifier/string()"}}
{{~field name="creator" 	labeli18n="crosswalks.dissemination.html.dc.creator" label="{\"en\": \"Creator\"}" xpath="//*:creator/string()"}}
{{~field name="dateInitial" order='3' type='date' labeli18n="crosswalks.dissemination.html.dc.date.initial" label="{\"en\": \"Initial date\"}" xpath="//*:date[1]/string()"}}
{{~field name="dateFinal" 	order='4' type='date' labeli18n="crosswalks.dissemination.html.dc.date.final" label="{\"en\": \"Final date\"}" xpath="//*:date[2]/string()"}}
{{~field name="description" type='text-area' labeli18n="crosswalks.dissemination.html.dc.description" label="{\"en\": \"Description\"}" xpath="//*:description/string()"}}
{{~field name="producer" 	labeli18n="crosswalks.dissemination.html.dc.publisher" label="{\"en\": \"Producer\"}" xpath="//*:publisher/string()"}}
{{~field name="rights" 		labeli18n="crosswalks.dissemination.html.dc.rights" label="{\"en\": \"Rights\"}" xpath="//*:rights/string()"}}
{{~field name="language" 	auto-generate='language' labeli18n="crosswalks.dissemination.html.dc.language" label="{\"en\": \"Language\"}" xpath="//*:language/string()"~}}
<?xml version="1.0"?>
<simpledc xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:noNamespaceSchemaLocation="../schemas/dc.xsd">
	<title>{{title}}</title>
	<identifier>{{id}}</identifier>
	<creator>{{creator}}</creator>
	<date>{{dateInitial}}</date>
	<date>{{dateFinal}}</date>
	<description>{{description}}</description>
	<publisher>{{producer}}</publisher>
	<rights>{{rights}}</rights>
	<language>{{language}}</language>
</simpledc>
