{{~field name="id" 			order=1 auto-generate='id' label="{\"en\": \"ID\"}" xpath="//*:recordid/string() ##%## //*:unitid/string()"~}}
{{~field name="title" 		order='2' auto-generate='title' label="{\"en\": \"Title\"}" xpath="//*:titleproper/string() ##%## //*:unittitle/string()"~}}
{{~field name="producer" 	label="{\"en\": \"Producer\"}" xpath="//*:agencyname/string() ##%## //*:origination[@label='producer']/*:corpname/*:part/string()"~}}
{{~field name="descDate" 	order="3" type="date" auto-generate="now" label="{\"en\": \"Description date\"}" xpath="//*:eventdatetime/@standardtime/string() ##%## //*:eventdatetime/string()"~}}
{{~field name="level" 					order="80" type="list" value="fonds" options="[\"fonds\",\"class\",\"collection\",\"recordgrp\",\"subgrp\",\"subfonds\",\"series\",\"subseries\",\"file\",\"item\"]" optionsLabels="{\"fonds\": {\"en\":\"Fonds\", \"pt\":\"Fundo\"},\"class\": {\"en\":\"Class\", \"pt\":\"Classe\"},\"collection\": {\"en\":\"Collection\", \"pt\":\"Coleção\"},\"recordgrp\": {\"en\":\"Record group\", \"pt\":\"Grupo de registos\"},\"subgrp\": {\"en\":\"Subgroup\", \"pt\":\"Subgrupo\"},\"subfonds\": {\"en\":\"Subfonds\", \"pt\":\"Subfundo\"},\"series\": {\"en\":\"Series\", \"pt\":\"Série\"},\"subseries\": {\"en\":\"Subseries\", \"pt\":\"Subsérie\"},\"file\": {\"en\":\"File\", \"pt\":\"Documento composto\"},\"item\": {\"en\":\"Item\", \"pt\":\"Documento simples\"}}" optionsLabelI18nKeyPrefix="crosswalks.dissemination.html.ead.levl" auto-generate="level" label="{\"i18n\": \"crosswalks.dissemination.html.ead.level\", \"en\": \"Description level\", \"pt\": \"Nível descritivo\"}" xpath="//*:archdesc/@level/string()" ~}}
{{~field name="dateInitial" order="4" type="date" label="{\"en\": \"Initial date\"}" xpath="//*:fromdate/@standarddate/string() ##%## //*:fromdate/string()"~}}
{{~field name="dateFinal" 	order="5" type="date" label="{\"en\": \"Final date\"}" xpath="//*:todate/@standarddate/string() ##%## //*:todate/string()"~}}
{{~field name="creator" 	label="{\"en\": \"Creator\"}" xpath="//*:origination[@label='producer']/*:corpname/*:part/string()"~}}
{{~field name="language" 	auto-generate='language' label="{\"en\": \"Language\"}" xpath="//*:language/string()"~}}
{{~field name="description" type='text-area' label="{\"en\": \"Description\"}" xpath="//*:scopecontent/*:p/string()"~}}
{{~field name="rights" 		label="{\"en\": \"Rights\"}" xpath="//*:userestrict/*:p/string()"~}}
<?xml version="1.0" encoding="utf-8" ?>
<ead xmlns="http://ead3.archivists.org/schema/"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://ead3.archivists.org/schema/ ../schemas/ead3.xsd">
	<control>
		<recordid>{{id}}</recordid>
		<filedesc>
			<titlestmt>
				<titleproper>{{title}}</titleproper>
			</titlestmt>
		</filedesc>
		<maintenancestatus value="new"/>
		<maintenanceagency>
			<agencyname>{{producer}}</agencyname>
		</maintenanceagency>
		<maintenancehistory>
			<maintenanceevent>
				<eventtype value="created"/>
				<eventdatetime standarddatetime='{{descDate}}'>{{descDate}}
				</eventdatetime>
				<agenttype value="machine"/>
				<agent>RODA version 2</agent>
				<eventdescription>Creation of EAD record using RODA version 2</eventdescription>
			</maintenanceevent>
		</maintenancehistory>
	</control>
	<archdesc
		level='{{level}}'>
		<did>
			<unitid>{{id}}</unitid>
			<unittitle>{{title}}</unittitle>

			<unitdatestructured calendar="gregorian">
				<daterange>
					<fromdate standarddate='{{dateInitial}}'>{{dateInitial}}</fromdate>
					<todate standarddate='{{dateFinal}}'>{{dateFinal}}</todate>
				</daterange>
			</unitdatestructured>
			<origination label="producer">
				<corpname>
					<part>{{producer}}</part>
				</corpname>
			</origination>
			<origination label="creator">
				<persname>
					<part>{{creator}}</part>
				</persname>
			</origination>
			<langmaterial>
				<language>{{language}}</language>
			</langmaterial>
		</did>
		<scopecontent>
			<p>{{description}}</p>
		</scopecontent>
		<userestrict>
			<p>{{rights}}</p>
		</userestrict>
	</archdesc>

</ead>