{{~field name="identityArea"			order="10" type="separator" order="1" labeli18n="crosswalks.dissemination.html.ead.identityarea" label="{\"en\": \"Identity\", \"pt\": \"Identificação\"}"~}}
{{~field name="id"						order="20" auto-generate="id" labeli18n="crosswalks.dissemination.html.ead.reference" label="{\"en\": \"Identifier\", \"pt\": \"Identificador\"}" xpath="/*:ead/*:archdesc/*:did/*:unitid/string()"~}}
{{~field name="level" 					order="25" type="list" value="fonds" options="[\"fonds\",\"class\",\"collection\",\"recordgrp\",\"subgrp\",\"subfonds\",\"series\",\"subseries\",\"file\",\"item\"]" optionsLabels="{\"fonds\": {\"en\":\"Fonds\", \"pt\":\"Fundo\"},\"class\": {\"en\":\"Class\", \"pt\":\"Classe\"},\"collection\": {\"en\":\"Collection\", \"pt\":\"Coleção\"},\"recordgrp\": {\"en\":\"Record group\", \"pt\":\"Grupo de registos\"},\"subgrp\": {\"en\":\"Subgroup\", \"pt\":\"Subgrupo\"},\"subfonds\": {\"en\":\"Subfonds\", \"pt\":\"Subfundo\"},\"series\": {\"en\":\"Series\", \"pt\":\"Série\"},\"subseries\": {\"en\":\"Subseries\", \"pt\":\"Subsérie\"},\"file\": {\"en\":\"File\", \"pt\":\"Documento composto\"},\"item\": {\"en\":\"Item\", \"pt\":\"Documento simples\"}}" optionsLabelI18nKeyPrefix="crosswalks.dissemination.html.ead.level" auto-generate="level" label="{\"i18n\": \"crosswalks.dissemination.html.ead.level\", \"en\": \"Description level\", \"pt\": \"Nível descritivo\"}" xpath="//*:archdesc/@level/string()" ~}}
{{~field name="otherlevel" 				hidden="true" order="90" labeli18n="crosswalks.dissemination.html.ead.otherlevel" label="{\"en\": \"Other level\", \"pt\": \"Outro nível\"}" xpath="/*:ead/*:archdesc/@otherlevel/string()"~}}
{{~field name="title"       			order="30" auto-generate='title' labeli18n="crosswalks.dissemination.html.ead.title" label="{\"en\": \"Title\", \"pt\": \"Título\"}" xpath="/*:ead/*:archdesc/*:did/*:unittitle/string()"~}}
{{~field name="dateInitial" 			order="40" type="date" label="{\"i18n\": \"crosswalks.dissemination.html.ead.initialdate\", \"en\": \"Initial date\", \"pt\": \"Data de início\"}" xpath="/*:ead/*:archdesc/*:did/*:unitdate[@label='UnitDateInitial']/@normal/string() ##%## tokenize(/*:ead/*:archdesc/*:did/*:unitdate[@label='UnitDates']/@normal/string(), \"/\")[1]"~}}
{{~field name="dateFinal"   			order="50" type="date" label="{\"i18n\": \"crosswalks.dissemination.html.ead.finaldate\", \"en\": \"Final date\", \"pt\": \"Data de fim\"}" xpath="/*:ead/*:archdesc/*:did/*:unitdate[@label='UnitDateFinal']/@normal/string() ##%## tokenize(/*:ead/*:archdesc/*:did/*:unitdate[@label='UnitDates']/@normal/string(), \"/\")[2]"~}}
{{~field name="descDate"   				order="60" type="text" label="{\"i18n\": \"crosswalks.dissemination.html.ead.unitdate\", \"en\": \"Descriptive date\", \"pt\": \"Data descritiva\"}" xpath="/*:ead/*:archdesc/*:did/*:unitdate/string()"~}}
{{~field name="countryCode" 			order="70" type="list" options="[\"AD\",\"AE\",\"AF\",\"AG\",\"AI\",\"AL\",\"AM\",\"AN\",\"AO\",\"AQ\",\"AR\",\"AS\",\"AT\",\"AU\",\"AW\",\"AX\",\"AZ\",\"BA\",\"BB\",\"BD\",\"BE\",\"BF\",\"BG\",\"BH\",\"BI\",\"BJ\",\"BM\",\"BN\",\"BO\",\"BR\",\"BS\",\"BT\",\"BV\",\"BW\",\"BY\",\"BZ\",\"CA\",\"CC\",\"CD\",\"CF\",\"CG\",\"CH\",\"CI\",\"CK\",\"CL\",\"CM\",\"CN\",\"CO\",\"CR\",\"CS\",\"CU\",\"CV\",\"CX\",\"CY\",\"CZ\",\"DE\",\"DJ\",\"DK\",\"DM\",\"DO\",\"DZ\",\"EC\",\"EE\",\"EG\",\"EH\",\"ER\",\"ES\",\"ET\",\"FI\",\"FJ\",\"FK\",\"FM\",\"FO\",\"FR\",\"GA\",\"GB\",\"GD\",\"GE\",\"GF\",\"GH\",\"GI\",\"GL\",\"GM\",\"GN\",\"GP\",\"GQ\",\"GR\",\"GS\",\"GT\",\"GU\",\"GW\",\"GY\",\"HK\",\"HM\",\"HN\",\"HR\",\"HT\",\"HU\",\"ID\",\"IE\",\"IL\",\"IN\",\"IO\",\"IQ\",\"IR\",\"IS\",\"IT\",\"JM\",\"JO\",\"JP\",\"KE\",\"KG\",\"KH\",\"KI\",\"KM\",\"KN\",\"KP\",\"KR\",\"KW\",\"KY\",\"KZ\",\"LA\",\"LB\",\"LC\",\"LI\",\"LK\",\"LR\",\"LS\",\"LT\",\"LU\",\"LV\",\"LY\",\"MA\",\"MC\",\"MD\",\"MG\",\"MH\",\"MK\",\"ML\",\"MM\",\"MN\",\"MO\",\"MP\",\"MQ\",\"MR\",\"MS\",\"MT\",\"MU\",\"MV\",\"MW\",\"MX\",\"MY\",\"MZ\",\"NA\",\"NC\",\"NE\",\"NF\",\"NG\",\"NI\",\"NL\",\"NO\",\"NP\",\"NR\",\"NU\",\"NZ\",\"OM\",\"PA\",\"PE\",\"PF\",\"PG\",\"PH\",\"PK\",\"PL\",\"PM\",\"PN\",\"PR\",\"PS\",\"PT\",\"PW\",\"PY\",\"QA\",\"RE\",\"RO\",\"RU\",\"RW\",\"SA\",\"SB\",\"SC\",\"SD\",\"SE\",\"SG\",\"SH\",\"SI\",\"SJ\",\"SK\",\"SL\",\"SM\",\"SN\",\"SO\",\"SR\",\"ST\",\"SV\",\"SY\",\"SZ\",\"TC\",\"TD\",\"TF\",\"TG\",\"TH\",\"TJ\",\"TK\",\"TL\",\"TM\",\"TN\",\"TO\",\"TR\",\"TT\",\"TV\",\"TW\",\"TZ\",\"UA\",\"UG\",\"UM\",\"US\",\"UY\",\"UZ\",\"VA\",\"VC\",\"VE\",\"VG\",\"VI\",\"VN\",\"VU\",\"WF\",\"WS\",\"YE\",\"YT\",\"ZA\",\"ZM\",\"ZW\"]" labeli18n="crosswalks.dissemination.html.ead.countrycode" label="{\"en\": \"Country code\", \"pt\": \"Código do país\"}" xpath="/*:ead/*:archdesc/*:did/*:unitid/@countrycode/string()"~}}
{{~field name="materialspec" 			order="100" type="text-area" labeli18n="crosswalks.dissemination.html.ead.materialspecification" label="{\"en\": \"Material specification\", \"pt\": \"Especificação dos materiais\"}" xpath="/*:ead/*:archdesc/*:did/*:materialspec/string()"~}}
{{~field name="origination" 			order="110" type="text-area" labeli18n="crosswalks.dissemination.html.ead.origination" label="{\"en\": \"Origination\", \"pt\": \"Origem\"}" xpath="/*:ead/*:archdesc/*:did/*:origination[not(*)]/string()"~}}
{{~field name="physdesc" 				order="120" type="text-area" labeli18n="crosswalks.dissemination.html.ead.physdesc" label="{\"en\": \"Physical description\", \"pt\": \"Descrição física\"}" xpath="/*:ead/*:archdesc/*:did/*:physdesc/text()"~}}
{{~field name="extent" 					order="130" type="text" labeli18n="crosswalks.dissemination.html.ead.extent" label="{\"en\": \"Extent and medium\", \"pt\": \"Dimensão e suporte\"}" xpath="/*:ead/*:archdesc/*:did/*:physdesc/*:extent/string()"~}}{{~field name="extent" 					hidden="true" order="120" type="text-area" labeli18n="crosswalks.dissemination.html.ead.physicaldescription" label="{\"en\": \"Extent and medium\", \"pt\": \"Dimensão e suporte\"}" xpath="/*:ead/*:archdesc/*:did/*:physdesc/string()"~}}
{{~field name="dimensions" 				order="140" type="text" labeli18n="crosswalks.dissemination.html.ead.dimensions" label="{\"en\": \"Dimensions\", \"pt\": \"Dimensões\"}" xpath="/*:ead/*:archdesc/*:did/*:physdesc/*:dimensions/string()"~}}{{~field name="extent" 					hidden="true" order="120" type="text-area" labeli18n="crosswalks.dissemination.html.ead.physicaldescription" label="{\"en\": \"Extent and medium\", \"pt\": \"Dimensão e suporte\"}" xpath="/*:ead/*:archdesc/*:did/*:physdesc/string()"~}}
{{~field name="physfacet" 				order="150" type="text" labeli18n="crosswalks.dissemination.html.ead.physfacet" label="{\"en\": \"Appearance\", \"pt\": \"Aparência\"}" xpath="/*:ead/*:archdesc/*:did/*:physdesc/*:physfacet/string()"~}}{{~field name="extent" 					hidden="true" order="120" type="text-area" labeli18n="crosswalks.dissemination.html.ead.physicaldescription" label="{\"en\": \"Extent and medium\", \"pt\": \"Dimensão e suporte\"}" xpath="/*:ead/*:archdesc/*:did/*:physdesc/string()"~}}
{{~field name="quote" 					order="160" type="text-area" labeli18n="crosswalks.dissemination.html.ead.quote" label="{\"en\": \"Quote\", \"pt\": \"Citação\"}" xpath="/*:ead/*:archdesc/*:prefercite/*:p/string()"~}}

{{~field name="contextArea" 			order="170" type="separator" labeli18n="crosswalks.dissemination.html.ead.contextarea" label="{\"en\": \"Context\", \"pt\": \"Contexto\"}"~}}
{{~field name="bioghist"     			order="180" type="text-area" labeli18n="crosswalks.dissemination.html.ead.bioghist" label="{\"en\": \"Administrative and biographical history\", \"pt\": \"Bibliografia\"}" xpath="/*:ead/*:archdesc/*:did/*:origination[@label='creator']/*:name/string()"~}}
{{~field name="creator"     			order="190" labeli18n="crosswalks.dissemination.html.ead.creator" label="{\"en\": \"Name of creator(s)\", \"pt\": \"Nome do(s) autores\"}" xpath="/*:ead/*:archdesc/*:did/*:origination[@label='creator']/*:name/string()"~}}
{{~field name="producer"    			order="200" labeli18n="crosswalks.dissemination.html.ead.producer" label="{\"en\": \"Producer\", \"pt\": \"Produtor\"}" xpath="/*:ead/*:archdesc/*:did/*:origination[@label='producer']/*:name/string()"~}}
{{~field name="repositoryCode" 			order="210" labeli18n="crosswalks.dissemination.html.ead.repositorycode" label="{\"en\": \"Repository code\", \"pt\": \"Código do repositório\"}" xpath="/*:ead/*:archdesc/*:did/*:unitid/@repositorycode/string()"~}}
{{~field name="repository" 				order="220" labeli18n="crosswalks.dissemination.html.ead.repository" label="{\"en\": \"Repository\", \"pt\": \"Repositório\"}" xpath="/*:ead/*:archdesc/*:did/*:repository/*:corpname/string()"~}}
{{~field name="custodhist"		 		order="230" type="text-area" labeli18n="crosswalks.dissemination.html.ead.custodialhistory" label="{\"en\": \"Custodial history\", \"pt\": \"História custodial\"}" xpath="/*:ead/*:archdesc/*:custodhist/*:p/string()"~}}
{{~field name="acqinfo" 				order="240" type="text-area" labeli18n="crosswalks.dissemination.html.ead.acquisitioninformation" label="{\"en\": \"Immediate source of acquisition or transfer\", \"pt\": \"Fonte imediata de aquisição ou transferência\"}" xpath="/*:ead/*:archdesc/*:acqinfo/*:p/string()"~}}

{{~field name="contentArea" 			order="250" type="separator" labeli18n="crosswalks.dissemination.html.ead.contentarea" label="{\"en\": \"Content and structure\", \"pt\": \"Conteúdo e estrutura\"}"~}}
{{~field name="scopeContent" 			order="260" type="text-area" labeli18n="crosswalks.dissemination.html.ead.description" label="{\"en\": \"Scope and content\", \"pt\": \"Âmbito e conteúdo\"}" xpath="/*:ead/*:archdesc/*:scopecontent/*:p/string()"~}}
{{~field name="appraisal" 				order="270" type="text-area" labeli18n="crosswalks.dissemination.html.ead.appraisal" label="{\"en\": \"Appraisal, destruction and scheduling\", \"pt\": \"Avaliação, seleção e eliminação\"}" xpath="/*:ead/*:archdesc/*:appraisal/*:p/string()"~}}
{{~field name="accruals" 				order="280" type="text-area" labeli18n="crosswalks.dissemination.html.ead.accruals" label="{\"en\": \"Accruals\", \"pt\": \"Acréscimo\"}" xpath="/*:ead/*:archdesc/*:accruals/*:p/string()"~}}
{{~field name="systemOfArrangement" 	order="290" type="text-area" labeli18n="crosswalks.dissemination.html.ead.arrangement" label="{\"en\": \"System of arrangement\", \"pt\": \"Sistema de organização\"}" xpath="/*:ead/*:archdesc/*:arrangement/*:p/string()"~}}

{{~field name="accessArea" 				order="300" type="separator" labeli18n="crosswalks.dissemination.html.ead.accessarea" label="{\"en\": \"Conditions of access and use\", \"pt\": \"Acesso e utilização\"}"~}}
{{~field name="phystech" 				order="310" type="text-area" labeli18n="crosswalks.dissemination.html.ead.administrativeandbiographicalhistory" label="{\"en\": \"Administrative and biographical history\", \"pt\": \"História administrativa e biográfica\"}" xpath="/*:ead/*:archdesc/*:phystech/*:p/string()"~}}
{{~field name="accessrestrict" 			order="320" type="text-area" labeli18n="crosswalks.dissemination.html.ead.accessrestrictions" label="{\"en\": \"Conditions governing access\", \"pt\": \"Condições de acesso\"}" xpath="/*:ead/*:archdesc/*:accessrestrict/*:p/string()"~}}
{{~field name="userestrict" 			order="330" type="text-area" labeli18n="crosswalks.dissemination.html.ead.userestrict" label="{\"en\": \"Conditions governing reproduction\", \"pt\": \"Condições de reprodução\"}" xpath="/*:ead/*:archdesc/*:userestrict/*:p/string()"~}}
{{~field name="language" 				order="340" auto-generate='language' labeli18n="crosswalks.dissemination.html.ead.languages" label="{\"en\": \"Language of material\", \"pt\": \"Idioma dos materiais\"}" xpath="/*:ead/*:archdesc/*:did/*:langmaterial/*:language/text()[normalize-space()]"~}}
{{~field name="languageScriptNotes" 	order="350" type="text-area" labeli18n="crosswalks.dissemination.html.ead.languagesMaterial" label="{\"en\": \"Language and script notes\", \"pt\": \"Idioma e escrita\"}" xpath="/*:ead/*:archdesc/*:did/*:langmaterial/text()[normalize-space()]"~}}

{{~field name="alliedArea" 				order="360" type="separator" labeli18n="crosswalks.dissemination.html.ead.alliedarea" label="{\"en\": \"Allied materials\", \"pt\": \"Documentação associada\"}"~}}
{{~field name="originalsloc" 			order="370" type="text-area" labeli18n="crosswalks.dissemination.html.ead.originalsloc" label="{\"en\": \"Existence and location of originals\", \"pt\": \"Existência e localização de originais\"}" xpath="/*:ead/*:archdesc/*:originalsloc/*:p/string()"~}}
{{~field name="altformavail" 			order="380" type="text-area" labeli18n="crosswalks.dissemination.html.ead.altformavail" label="{\"en\": \"Existence and location of copies\", \"pt\": \"Existência e localização de cópias\"}" xpath="/*:ead/*:archdesc/*:altformavail/*:p/string()"~}}
{{~field name="relatedmaterial"         order="390" type="text-area" labeli18n="crosswalks.dissemination.html.ead.relatedmaterials" label="{\"en\": \"Related units of description\", \"pt\": \"Unidades de descrição relacionadas\"}" xpath="/*:ead/*:archdesc/*:relatedmaterial/*:p/string()"~}}
{{~field name="bibliography"         	order="400" type="text-area" labeli18n="crosswalks.dissemination.html.ead.bibliography" label="{\"en\": \"Bibliography\", \"pt\": \"Bibliografia\"}" xpath="/*:ead/*:archdesc/*:bibliography/*:p/string()"~}}
{{~field name="otherfindaid" 			order="410" type="text-area" labeli18n="crosswalks.dissemination.html.ead.otherfindaids" label="{\"en\": \"Find aid\", \"pt\": \"Ajuda\"}" xpath="/*:ead/*:archdesc/*:otherfindaid/*:p/string()"~}}

{{~field name="notesArea" 				order="420" type="separator" labeli18n="crosswalks.dissemination.html.ead.notesarea" label="{\"en\": \"Notes area\", \"pt\": \"Notas\"}"~}}
{{~field name="notes" 					order="430" type="text-area" labeli18n="crosswalks.dissemination.html.ead.notes" label="{\"en\": \"Notes\", \"pt\": \"Notas\"}" xpath="/*:ead/*:archdesc/*:did/*:note[@type='generalNote']/string()"~}}


{{~field name="descriptionControlArea" 	order="440" type="separator" labeli18n="crosswalks.dissemination.html.ead.descriptioncontrolarea" label="{\"en\": \"Description control area\", \"pt\": \"Controlo da descrição\"}"~}}
{{~field name="rules" 					order="450" type="text-area" labeli18n="crosswalks.dissemination.html.ead.rules" label="{\"en\": \"Rules or conventions\", \"pt\": \"Regras ou convenções\"}" xpath="/*:ead/*:eadheader/*:profiledesc/*:descrules/string()"~}}
{{~field name="statusDescription"		order="470" type="list" value="final" options="[\"final\",\"revised\",\"draft\"]" optionsLabels="{\"final\": {\"en\":\"Final\", \"pt\":\"Final\"},\"revised\": {\"en\":\"Revised\", \"pt\":\"Verificado\"},\"draft\": {\"en\":\"Draft\", \"pt\":\"Rascunho\"}}" optionsLabelI18nKeyPrefix="crosswalks.dissemination.html.ead.statusDescription" label="{\"en\": \"Status description\", \"pt\": \"Estado da descrição\"}" xpath="/*:ead/*:archdesc/*:odd[@type='statusDescription']/*:p/string()" ~}}

{{~field name="levelOfDetail" 			order="480" type="list" value="minimal" options="[\"full\",\"partial\",\"minimal\"]" optionsLabels="{\"full\": {\"en\":\"Full\", \"pt\":\"Completo\"}, \"partial\": {\"en\":\"Partial\", \"pt\":\"Parcial\"}, \"minimal\": {\"en\":\"Minimal\", \"pt\":\"Mínimo\"}}" optionsLabelI18nKeyPrefix="crosswalks.dissemination.html.ead.levelOfDetail" label="{\"en\": \"Level of detail\", \"pt\": \"Nível de detalhe\"}" xpath="/*:ead/*:archdesc/*:odd[@type='levelOfDetail']/*:p/string()" ~}}
{{~field name="processDates" 			order="490" type="date" auto-generate="now" labeli18n="crosswalks.dissemination.html.ead.processdates" label="{\"en\": \"Date of creation or revision\", \"pt\": \"Data de criação ou revisão\"}" xpath="/*:ead/*:archdesc/*:processinfo/*:p/*:date/string()[normalize-space()]"~}}
{{~field name="sources" 				order="500" type="text-area" labeli18n="crosswalks.dissemination.html.ead.sources" label="{\"en\": \"Sources\", \"pt\": \"Fontes\"}" xpath="/*:ead/*:archdesc/*:did/*:note[@type='sourcesDescription']/string()"~}}
{{~field name="archivistNotes" 			order="510" type="text-area" labeli18n="crosswalks.dissemination.html.ead.archivistNotes" label="{\"en\": \"Archivist notes\", \"pt\": \"Notas do arquivista\"}" xpath="/*:ead/*:archdesc/*:processinfo/*:p/text()[normalize-space()]"~}}


<?xml version="1.0" encoding="utf-8"?>
<ead xmlns="urn:isbn:1-931666-22-9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:isbn:1-931666-22-9 ../schemas/ead2002.xsd">
	<eadheader>
		<eadid/>
		<filedesc>
			<titlestmt>
				<titleproper/>
			</titlestmt>
		</filedesc>
		<profiledesc>
			<creation>
				Generated by RODA version 2.0
			</creation>
			{{~#if rules~}}
				<descrules>{{rules}}</descrules>
			{{~/if~}}
		</profiledesc>
	</eadheader>
  <archdesc {{#if level}}level='{{level}}'{{/if}} {{#if otherlevel}}otherlevel="{{otherlevel}}"{{/if}}>
    <did>
    	{{~#if title~}}
      	<unittitle {{#if titleType}}type="{{titleType}}"{{/if}}>{{title}}</unittitle>
      	{{~/if~}}
      	{{~#ifCond "||" countryCode repositoryCode id~}}
      	<unitid {{#if countryCode}}countrycode="{{countryCode}}"{{/if}} {{#if repositoryCode}}repositorycode="{{repositoryCode}}"{{/if}}>{{id}}</unitid>
      	{{~/ifCond~}}
		{{~#if dateInitial~}}
			{{~#if dateFinal~}}
				<unitdate label="UnitDates" normal='{{dateInitial}}/{{dateFinal}}'>{{#if descDate}}{{descDate}}{{/if}}</unitdate>
			{{~^~}}
				<unitdate label="UnitDateInitial" normal="{{dateInitial}}">{{#if descDate}}{{descDate}}{{/if}}</unitdate>
			{{~/if~}}
		{{~^~}}
			{{~#if dateFinal~}}
				<unitdate label="UnitDateFinal" normal="{{dateFinal}}">{{#if descDate}}{{descDate}}{{/if}}</unitdate>
			{{~^~}}
				{{~#if descDate~}}
					<unitdate label="UnitDates">{{descDate}}</unitdate>
				{{~/if~}}
			{{~/if~}}
		{{~/if~}}
		{{~#ifCond "||" extent physdesc dimensions physfacet~}} 
			<physdesc>
				{{~#if extent~}}
				<extent>{{extent}}</extent>
				{{~/if~}}
				{{~#if dimensions~}}
				<dimensions>{{dimensions}}</dimensions>
				{{~/if~}}
				{{~#if physfacet~}}
				<physfacet>{{physfacet}}</physfacet>
				{{~/if~}}
				{{~#if physdesc~}}
				{{physdesc}}
				{{~/if~}}
			</physdesc>
		{{~/ifCond~}}
		{{~#if repository~}}
      	<repository>
        	<corpname>{{repository}}</corpname>
      	</repository>
      	{{~/if~}}
		{{~#if language~}}
      	<langmaterial>
      		<language>{{language}}</language>
            {{languageScriptNotes}}     
        </langmaterial>
        {{~/if~}}
       {{~#if sources~}} 
      <note type="sourcesDescription">
        <p>{{sources}}</p>
      </note>
      {{~/if~}}
      {{~#if notes~}} 
      <note type="generalNote">
        <p>{{notes}}</p>
      </note>
      {{~/if~}}
      {{~#if creator~}} 
      <origination label='creator'>
        <name>{{creator}}</name>
      </origination>
      {{~/if~}}
      {{~#if producer~}} 
      <origination label='producer'>
        <name>{{producer}}</name>
      </origination>
      {{~/if~}}
      {{~#if materialspec~}} 
      <materialspec>{{materialspec}}</materialspec>
      {{~/if~}}
      {{~#if origination~}} 
      <origination>{{origination}}</origination>
      {{~/if~}}
    </did>
    {{~#if publicationStatus~}} 
    <odd type="publicationStatus">
      <p>{{publicationStatus}}</p>
    </odd>
    {{~/if~}}
    {{~#if levelOfDetail~}} 
    <odd type="levelOfDetail">
      <p>{{levelOfDetail}}</p>
    </odd>
    {{~/if~}}
    {{~#if statusDescription~}} 
    <odd type="statusDescription">
      <p>{{statusDescription}}</p>
    </odd>
    {{~/if~}}
    {{~#if descriptionIdentifier~}} 
    <odd type="descriptionIdentifier">
      <p>{{descriptionIdentifier}}</p>
    </odd>
    {{~/if~}}
    {{~#if institutionIdentifier~}} 
    <odd type="institutionIdentifier">
      <p>{{institutionIdentifier}}</p>
    </odd>
    {{~/if~}}
    {{~#if scopeContent~}} 
    <scopecontent>
      <p>{{scopeContent}}</p>
    </scopecontent>
     {{~/if~}}
     {{~#if systemOfArrangement~}} 
    <arrangement>
      <p>{{systemOfArrangement}}</p>
    </arrangement>
    {{~/if~}}
    {{~#ifCond "||" nameAccessPoint subjectAccessPoint placeAccessPoint~}} 
    <controlaccess>
    	{{~#if nameAccessPoint~}} 
      	<name role="subject">{{nameAccessPoint}}</name>
      	{{~/if~}}
      	{{~#if subjectAccessPoint~}} 
      	<subject>{{subjectAccessPoint}}</subject>
      	{{~/if~}}
      	{{~#if placeAccessPoint~}} 
      	<geogname>{{placeAccessPoint}}</geogname>
      	{{~/if~}}
    </controlaccess>
    {{~/ifCond~}}
    {{~#if appraisal~}} 
    <appraisal>
      <p>{{appraisal}}</p>
    </appraisal>
    {{~/if~}}
    {{~#if acqinfo~}} 
    <acqinfo>
      <p>{{acqinfo}}</p>
    </acqinfo>
    {{~/if~}}
    {{~#if accruals~}} 
    <accruals>
      <p>{{accruals}}</p>
    </accruals>
    {{~/if~}}
    {{~#if custodhist~}} 
    <custodhist>
      <p>{{custodhist}}</p>
    </custodhist>
    {{~/if~}}
        {{~#ifCond "||" processDates archivistNotes~}} 
    <processinfo>
	  {{~#if processDates~}}<p><date>{{processDates}}</date></p>{{~/if~}}
      {{~#if archivistNotes~}}<p>{{archivistNotes}}</p>{{~/if~}}
    </processinfo>
    {{~/ifCond~}}
    {{~#if originalsloc~}} 
    <originalsloc>
      <p>{{originalsloc}}</p>
    </originalsloc>
    {{~/if~}}
    {{~#if altformavail~}} 
    <altformavail>
      <p>{{altformavail}}</p>
    </altformavail>
    {{~/if~}}
    {{~#if relatedmaterial~}} 
    <relatedmaterial>
      <p>{{relatedmaterial}}</p>
    </relatedmaterial>
    {{~/if~}}
    {{~#if accessrestrict~}} 
    <accessrestrict>
      <p>{{accessrestrict}}</p>
    </accessrestrict>
    {{~/if~}}
    {{~#if userestrict~}} 
    <userestrict>
      <p>{{userestrict}}</p>
    </userestrict>
    {{~/if~}}
    {{~#if otherfindaid~}} 
    <otherfindaid>
      <p>{{otherfindaid}}</p>
    </otherfindaid>
    {{~/if~}}
    {{~#if phystech~}} 
    <phystech>
      <p>{{phystech}}</p>
    </phystech>
    {{~/if~}}
    {{~#if bibliography~}} 
    <bibliography>
      <p>{{bibliography}}</p>
    </bibliography>
    {{~/if~}}
    <dsc type="combined">  
  </dsc>
  	{{~#if quote~}} 
  	<prefercite>
  	<p>
  	{{quote}}
  	</p>
  	</prefercite>
  	{{~/if~}}
  </archdesc>
</ead>
